<html>
<head>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-container "></div>
<table>
    <tr>
        <td> Customer Id</td>
        <td><p id="custId" th:text="${CustomerID}"></p></td>
    </tr>

    <tr>
        <td> Email id</td>
        <td><p id="emailid" th:text="${EmailID}"></p></td>
    </tr>

    <tr>
        <td> Agreement Id</td>
        <td><p id="transId" th:text="${TransactionID}"></p></td>
    </tr>

</table>
</body>
</html>
